################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wintail/WinTail/obj/Debug
/Wintail/WinTail/bin/Debug
/Wintail/WinTail/.vs/WinTail/v15
